<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa Loja Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="https://fiverr-res.cloudinary.com/f_auto,q_auto/v1/attachments/generic_asset/asset/6c12db2efd1aa4d1987d9336feea58ad-1686252438539/Shopify%20Logo.png" alt="Logo">
        <input type="text" placeholder="Buscar produtos...">
        <a href="{{ url_for('cart.view_cart') }}">Carrinho</a>
    </header>
    <section id="hero">
        <img src="../static/img/bann.jpg" alt="Promoção Especial">
        <button>Compre Agora!</button>
    </section>
    <h1>Bem-vindo à Nossa Loja Online!</h1>
    
    <div class="categories">
        <h2>Categorias</h2>
        <div class="categories-grid">
            {% for category in categories %}
            <div class="category-item">
                <a href="{{ url_for('product.list_products_by_category', category_id=category.id) }}">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>Produtos em Destaque</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-item">
            <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="product-image">
            <h3>{{ product.name }}</h3>
            <p>Preço: ${{ product.price }}</p>
            <p>{{ product.description }}</p>
            <a href="{{ url_for('product.product_detail', product_id=product.id) }}">Ver Detalhes</a>
            <form action="{{ url_for('cart.add_to_cart', product_id=product.id) }}" method="POST">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Adicionar ao Carrinho</button>
            </form>
        </div>
        {% endfor %}
    </div>
    
    <footer>
        <p>© 2024 Nossa Loja Online. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
